package.json merge=ours
package-lock.json merge=ours
ccp4i2-next-server.ts merge=ours
next.config.ts merge=ours
client/renderer/layout.tsx merge=ours
client/renderer/components/history-toolbar.tsx merge=ours
client/renderer/components/msal/auth-provider.tsx merge=ours
client/renderer/components/history-toolbar.test.tsx merge=ours
