django-cors-headers
django-filter
django
djangorestframework
gemmi
pytest
requests-cache
requests
uvicorn
whitenoise
configparser
constants
pathlib
tomli
psycopg2-binary
numpy
scipy
pandas
biopython
Pillow
gunicorn

